body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
}
.person {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.person__info {
	margin: 32 32 32 0;
	border: 32px solid #FFF;
	border-radius: 50%;
	border-color: white;

}
.person__contacts {
	margin-bottom: 16px;
}
.person__details {
	margin-right: 10%;
	margin-left: 10%;
	font-size: 16px;
}
.avatar {
	
}
.avatar__picture {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.contacts {
	display: flex;
	flex-direction: column;
}
.contacts__name {
	font-weight: bold;
	font-size: 32px;
}
.contacts__role {
	font-size: 19.2px;
	font-weight: bold;
	margin-bottom: 16px;
}
.contacts__item {
	font-size: 16px;
}
.contacts__title {
	/* добавьте ваш код  */
}
.contacts__title:after {
	/* добавьте ваш код  */
}
.contacts__link {
	color: gray;
	font-size: 16px;
}
.paragraph {
	margin-bottom: 16px;
}
.paragraph_last {
	margin-bottom: 46px;
}

@media screen and (max-width: 340px) {
	.avatar__picture{
		width: 170px;
	    height: 170px;
	    border-radius: 50%;
	}
	.person__info {
	margin: 32 32 32 0;
	border: 16px solid #FFF;
}
} 

@media screen and (max-width: 375px) {
	.contacts__name {
	font-weight: 300px;
	font-size: 25px;
}
    .contacts__role {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
    .contacts__item {
	font-size: 14px;
}
    .contacts__link {
	font-size: 14px;
}
    .contacts {
	display: flex;
	justify-content: center;
	align-items: center;
}

